__pycache__
.cache
.pyc

*.iml
.idea/

**/data/
**/.ipynb_checkpoints/
**/img_align_celeba/

session-2/explore.mp4
session-2/session-2.zip
session-3/gtzan_music_speech/
session-3/MNIST_data/
session-3/run */
session-3/session-3.zip
session-3/music_speech.tar.gz